* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #191414;
  color: #fff;
}

#navbar {
  background-color: #1DB954;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1em;
  border: solid;
  list-style: none;
}

li > a {
  text-decoration: none;
  padding: 0.25em;
  font-family: "Gotham";
  font-weight: bold;
  font-size: 1.5em;
}
